<% c++ #include "contents/content.h" %>
<% skin %>
<% view homepage_modules uses contents::BaseContent %>
    <%template join_us() %>
        <div class="module">
            <h2>Join the community!</h2>
            The more contributors there are, the more useful Tatoeba will
            become! Besides, by contributing, not only you will be helpful
            to the rest of the world, but you will also get to learn a lot.
            <p>
                <a href="<% url "/users/register-new" %>" class="registerButton">Register</a>
            </p>
        </div>
    <% end template %>
<% end view %>
<% end skin %>
