<%c++ #include "contents/of_user.h" %>
<% skin %>
<% view of_user_sentences_of_in uses contents::of_user::SentencesOfIn extends master %>
<% template title() %><% gt "Sentences of {1} in {2}" using username, inLanguage %><% end template %>

<% template main_content() %>
    <div class="module">
        <h3><% gt "Sentences of {1} in {2}" using username, inLanguage %><h3>
        <% if not shc.empty() %>
            <% c++ sentences_helper sh(out(), content.shc); %>
            <% c++ sh.simple_sentences_list(); %> 
        <% else %>
            <% gt "This user owns no sentence in this language" %>
        <% end %>
    </div>
<% end %>

<% template annexe_content() %>
    <div class="module">
        <h2><% gt "Contribute" %></h2>
        
        <p>
            <a href="<% url "/of-user/translate-sentences-of/{1}" using username %>">
                <% gt "Translate these sentences"%>
            </a>
        </p>
    </div>

    <div class="module">
        <h3><% gt "Filter sentences" %></h3>
        <form
            action="<% url "/of-user/sentences-of-in_treat/{1}" using username %>"
            method="POST"
            id="SentencesOfInFilterLangForm"
        >
            <% form as_p filterLang %>

        </form>

    </div>

<% end %>


<% end view %>
<% end skin %>
