<%c++ #include "contents/of_user.h" %>
<% skin %>
<% view of_user_sentences_of uses contents::of_user::SentencesOf extends master %>
<% template title() %><% gt "Sentences of {1}" using username %><% end template %>

<% template main_content() %>
    <div class="module">
        <h3><% gt "Sentences of {1}" using username %><h3>
        <% if not shc.empty() %>
            <% c++ sentences_helper sh(out(), content.shc); %>
            <% c++ sh.simple_sentences_list(); %> 
        <% else %>
            <% gt "This user owns no sentences" %>
        <% end %>
    </div>
<% end %>

<% template annexe_content() %>
    <div class="module">
        <h2><% gt "Contribute" %></h2>
        
        <p>
            <a href="<% url "/of-user/translate-sentences-of/{1}" using username %>">
                <% gt "Translate these sentences"%>
            </a>
        </p>
    </div>

<% end %>


<% end view %>
<% end skin %>
