<%c++ #include "contents/of_user.h" %>
<% skin %>
<% view of_user_translate_sentences_of_in uses contents::of_user::TranslateSentencesOfIn extends master %>
<% template title() %>
    <% gt "Translate sentences of {1} in {2}" using username, inLanguage %>
<% end template %>

<% template main_content() %>
    <div class="module">
        <% if not shc.empty() %>
            <% c++ sentences_helper sh(out(), content.shc); %>
            <% c++ sh.sentences_list("Translate sentences"); %> 
        <% else %>
            <% gt "This user owns no sentence in this language" %>
        <% end %>
    </div>
<% end %>

<% template annexe_content() %>

    <div class="module">
        <h3><% gt "Filter sentences" %></h3>
        <form
            action="<% url "/of-user/translate-sentences-of-in_treat/{1}" using username %>"
            method="POST"
            id="TranslateSentencesOfInFilterLangForm"
        >
            <% form as_p filterLang %>

        </form>

    </div>


<% end %>


<% end view %>
<% end skin %>
