<%c++ #include "contents/of_user.h" %>
<% skin %>
<% view of_user_translate_sentences_of uses contents::of_user::TranslateSentencesOf extends master %>
<% template title() %><% gt "Translate sentences of"  %><% end template %>

<% template main_content() %>
    <div class="module">
        <% if not shc.empty() %>
            <% c++ sentences_helper sh(out(), content.shc); %>
            <% c++ sh.sentences_list("Translate sentences"); %> 
        <% else %>
            No Result
        <% end %>
    </div>
<% end %>

<% template annexe_content() %>
    <div class="module">
    </div>

<% end %>


<% end view %>
<% end skin %>
