<%c++ #include "contents/helpers/sentences.h" %>
<%c++ #include "contents/helpers/paginations.h" %>
<%c++ #include "results/sentences.h" %>
<%c++ using namespace contents; %>
<% skin %>
<% view sentences_helper uses helpers::Sentences %>

    <% template sentences_group(results::Sentence &mainSentence) %>
        <div class="sentences_set" >
        <% include menu(mainSentence.getId()) %>
        <% include main_sentence(mainSentence) %>
        <% include all_translations(mainSentence.translations, mainSentence.getId()) %>

        </div>

    <% end template %>

    <% template menu(int sentenceId) %>
        <ul class="menu" >
            <li class="belongsTo"></li>
            <li class="option translateLink">
                <a href="<% url "/sentences/translate/{1}" using sentenceId%>" >
                <img
                    title="Translate"
                    alt="Translate"
                    src="http://flags.tatoeba.org/img/translate.png"
                > 
                </a>
           
            </li>
            <!-- TODO reimplement add to list/favorite/belongs to etc. -->
            <li class="option delete">
                <a href="<% url "/sentences/delete/{1}" using sentenceId%>" >
                <img
                    title="Delete"
                    alt="Delete"
                    src="http://flags.tatoeba.org/img/delete.png"
                > 
                </a>
            </li>
            <li class="option edit">
                <a href="<% url "/sentences/edit-text/{1}" using sentenceId %>">
                    edit
                </a>
            </li>
        </ul>
    <% end template %>

    <% template main_sentence(results::Sentence &sentence) %>
        <div class="sentence mainSentence">
            <a
                class="infoIcon"
                href="<% url "/sentences/show/{1}" using sentence.getId() %>"
            >
                <img
                    width="16"
                    height="16"
                    alt="show"
                    src="http://flags.tatoeba.org/img/info.png"
                >
            </a>
            <a
                class="languageFlag"
                href="<% url "/sentences/edit-lang/{1}" using sentence.getId() %>"
            >
                <% include sentence_lang(sentence.lang) %>
            </a>
            <div class="sentenceContent">
                <div><% sentence.text %></div>
            </div>
        </div>
    <% end template%>


    
    <% template all_translations(TransVector &translations, int mainSentenceId) %>
        <% foreach transOfDepthN in translations %>
            <div class="translations" >
            <% c++ int depth = 1; %>
            <% item %>
                <% c++ translations_of_same_depth(transOfDepthN, depth, mainSentenceId); %>
                <% c++ depth++; %>
            <% end %>
            </div>
        <% end foreach%>
    <% end template %>


    <% template translations_of_same_depth(SentencesVector &translations, int depth, int mainSentenceId) %>
        <% foreach translation in translations %>
            <% if (depth == 1) %>

            <h3>
                Direct Translations
            </h3>
            <% end %>

            <% if (depth == 2) %>
            <h3>
                Translations of Translations
            </h3>
            <% end %>

            <% if (depth > 2) %>
                <br />
                <br />
            <% end %>

            <% item %>
                <% c++ generic_sentence(translation, depth, mainSentenceId); %>
            <% end %>
        <% end foreach%>

    <% end template %>
        
    <% template generic_sentence(results::Sentence &sentence, int depth, int mainSentenceId) %>

        <div class="sentence directTranslation">
            <% if currentUserHelper.is_logged() %>
                <% if (depth == 1) %>
                    <a
                        class="delete link button"
                        href="<% url "/sentences/unlink/{1}/{2}" using mainSentenceId, sentence.getId() %>"
                    >
                        <img
                            width="16"
                            height="16"
                            title="<% gt "Unlink this translation." %>"
                            alt="<% gt "Unlink" %>"
                            src="http://flags.tatoeba.org/img/unlink.png"
                        >
                    </a>
                <% else %>
                    <a
                        class="add link button"
                        href="<% url "/sentences/link/{1}/{2}" using mainSentenceId, sentence.getId() %>"
                    >
                        <img
                            width="16"
                            height="16"
                            title="<% gt "link with this sentence." %>"
                            alt="<% gt "link" %>"
                            src="http://flags.tatoeba.org/img/link.png"
                        >
                    </a>

                <% end %>
            <% end if %>

            <% include sentence_lang(sentence.lang) %>
            <% c++ sentence_content(sentence, depth); %>
        </div>

    <% end template %>




    <% template sentence_content(results::Sentence &sentence, int depth) %>

        <div class="sentenceContent">
            <div>
                <a
                    class="text"
                    href="<% url "/sentences/show/{1}" using sentence.getId() %>"
                >
                    <% depth %>
                    -
                    <% sentence.text%>
                </a>
            </div>
            <br />
        </div>

    <% end template %>



    
    <% template sentence_lang(std::string lang) %>
        <img 
            src="http://flags.tatoeba.org/img/flags/<% lang %>.png"
            class="languageFlag "
            alt="<% c++ out() << lang; %>"
            width="30"
            height="20"
        />
    <% end template %>


    <% template sentences_list(std::string title, int size) %>
        <% c++ contents::helpers::Paginations phc( %>
        <% c++ content.sentences.offset, %>
        <% c++ size, %>
        <% c++ content.sentences.maxsize, %>
        <% c++ content.baseUrl, %>
        <% c++ content.lang %>
        <% c++ ); %>

        <h3>
            <% title %>
             (Total: <% sentences.maxsize %> Sentence(s))
        </h3>
        
        <% c++ pagination_helper ph(out(), phc); %> 
        <% c++ ph.pagination(); %>

        <% foreach sentence in sentences %>
            <% item %>
                <% include sentences_group(sentence) %>
                <br/>
                <br/>
                <br/>
            <% end %>
        <% end foreach %>
    <% end template %>



<% end view %>
<% end skin %>
