<%c++ #include "contents/helpers/sentences.h" %>
<%c++ #include "contents/helpers/paginations.h" %>
<%c++ #include "results/sentences.h" %>
<%c++ using namespace contents; %>
<% skin %>
<% view sentences_helper uses helpers::Sentences %>

    <% template sentences_group(results::Sentence &mainSentence) %>
        <div class="sentences_set" >
        <% include menu(mainSentence.get_id(), mainSentence.get_owner_name()) %>
        <% include main_sentence(mainSentence) %>
        <% include all_translations(mainSentence.get_translations(), mainSentence.get_id()) %>

        </div>

    <% end template %>

    <% template menu(int sentenceId, std::string owner) %>
        <ul class="menu" >
            <% if not owner.empty() %>
                <li class="belongsTo">
                    <a href="<% url "/users/profile/{1}" using owner %>">
                        <% gt "belongs to {1}" using owner %>
                    </a>
                </li>
            <% end %>
            <li class="option translateLink">
                <a href="<% url "/sentences/translate/{1}" using sentenceId%>" >
                <img
                    title="Translate"
                    alt="Translate"
                    src="http://flags.tatoeba.org/img/translate.png"
                > 
                </a>
           
            </li>
            <% if owner.empty() %>
                <li class="option adopt add">
                    <a href="<% url "/of-user/adopt-sentence/{1}" using sentenceId%>" >
                    <img
                        title="Adopt"
                        alt="<% gt "Adopt" %>"
                        src="http://flags.tatoeba.org/img/adopt.png"
                    > 
                    </a>
               
                </li>
            <% else %>
                <li class="option adopt remove">
                    <a href="<% url "/of-user/abandon-sentence/{1}" using sentenceId%>" >
                    <img
                        title="Let go"
                        alt="<% gt "Let go" %>"
                        src="http://flags.tatoeba.org/img/let_go.png"
                    > 
                    </a>
               
                </li>

            <% end %>
            <!-- TODO reimplement add to list/favorite/belongs to etc. -->
            <li class="option delete">
                <a href="<% url "/sentences/delete/{1}" using sentenceId%>" >
                <img
                    title="Delete"
                    alt="Delete"
                    src="http://flags.tatoeba.org/img/delete.png"
                > 
                </a>
            </li>
            <li class="option edit">
                <a href="<% url "/sentences/edit-text/{1}" using sentenceId %>">
                    edit
                </a>
            </li>
        </ul>
    <% end template %>

    <% template main_sentence(results::Sentence &sentence) %>
        <div class="sentence mainSentence" >
            <a
                class="infoIcon"
                href="<% url "/sentences/show/{1}" using sentence.get_id() %>"
            >
                <img
                    width="16"
                    height="16"
                    alt="show"
                    src="http://flags.tatoeba.org/img/info.png"
                >
            </a>
            <a
                class="languageFlag"
                href="<% url "/sentences/edit-lang/{1}" using sentence.get_id() %>"
            >
                <% include sentence_lang(sentence.get_language_code()) %>
            </a>
            <div class="sentenceContent">
                <div><% sentence.string() %></div>
            </div>
        </div>
    <% end template%>


    
    <% template all_translations(TransVector translations, int mainSentenceId) %>
        <% foreach transOfDepthN in translations %>
            <div class="translations" >
            <% c++ int depth = 1; %>
            <% item %>
                <% c++ translations_of_same_depth(transOfDepthN, depth, mainSentenceId); %>
                <% c++ depth++; %>
            <% end %>
            </div>
        <% end foreach%>
    <% end template %>


    <% template translations_of_same_depth(SentencesVector &translations, int depth, int mainSentenceId) %>
        <% foreach translation in translations %>
            <% if (depth == 1) %>

            <h3>
                Direct Translations
            </h3>
            <% end %>

            <% if (depth == 2) %>
            <h3>
                Translations of Translations
            </h3>
            <% end %>

            <% if (depth > 2) %>
                <br />
                <br />
            <% end %>

            <% item %>
                <% c++ generic_sentence(translation, depth, mainSentenceId); %>
            <% end %>
        <% end foreach%>

    <% end template %>
        
    <% template generic_sentence(results::Sentence &sentence, int depth, int mainSentenceId) %>

        <div class="sentence directTranslation">
            <% if currentUserHelper.is_logged() %>
                <% if (depth == 1) %>
                    <a
                        class="delete link button"
                        href="<% url "/sentences/unlink/{1}/{2}" using mainSentenceId, sentence.get_id() %>"
                    >
                        <img
                            width="16"
                            height="16"
                            title="<% gt "Unlink this translation." %>"
                            alt="<% gt "Unlink" %>"
                            src="http://flags.tatoeba.org/img/unlink.png"
                        >
                    </a>
                <% else %>
                    <a
                        class="add link button"
                        href="<% url "/sentences/link/{1}/{2}" using mainSentenceId, sentence.get_id() %>"
                    >
                        <img
                            width="16"
                            height="16"
                            title="<% gt "link with this sentence." %>"
                            alt="<% gt "link" %>"
                            src="http://flags.tatoeba.org/img/link.png"
                        >
                    </a>

                <% end %>
            <% end if %>

            <% include sentence_lang(sentence.get_language_code()) %>
            <% c++ sentence_content(sentence, depth); %>
        </div>

    <% end template %>




    <% template sentence_content(results::Sentence &sentence, int depth) %>

        <div class="sentenceContent">
            <div>
                <a
                    class="text"
                    href="<% url "/sentences/show/{1}" using sentence.get_id() %>"
                >
                    <% depth %>
                    -
                    <% sentence.string() %>
                </a>
            </div>
            <br />
        </div>

    <% end template %>



    
    <% template sentence_lang(std::string lang) %>
        <img 
            src="http://flags.tatoeba.org/img/flags/<% lang %>.png"
            class="languageFlag "
            alt="<% c++ out() << lang; %>"
            width="30"
            height="20"
        />
    <% end template %>


    <% template sentences_list(std::string title) %>
        <% c++ contents::helpers::Paginations phc( %>
        <% c++ content.sentences, %>
        <% c++ content.baseUrl %>
        <% c++ ); %>

        <h3>
            <% title %>
             (Total: <% sentences.totalNbrElements %> Sentence(s))
        </h3>
        
        <% c++ pagination_helper ph(out(), phc); %> 
        <% c++ ph.pagination(); %>

        <% foreach sentence in sentences %>
            <% item %>
                <% include sentences_group(sentence) %>
                <br/>
                <br/>
                <br/>
            <% end %>
        <% end foreach %>
    <% end template %>

    <% template simple_sentences_list() %>
        <% c++ contents::helpers::Paginations phc( %>
        <% c++ content.sentences, %>
        <% c++ content.baseUrl %>
        <% c++ ); %>
        <% c++ pagination_helper ph(out(), phc); %> 
 
        <h4>
             <% gt "(Total: {1} Sentence(s))" using sentences.totalNbrElements %>
        </h4>
               

        <% c++ ph.pagination(); %>


        <% foreach sentence in sentences %>
            <% item %>
            <div class="sentence mainSentence">

                <% include sentence_lang(sentence.get_language_code()) %>
                <div class="sentenceContent">
                    <a
                        class="text"
                        href="<% url "/sentences/show/{1}" using sentence.get_id() %>"
                    >
                        <%= sentence.string() | raw %>
                    </a> 
                </div>
            </div>
            <% end %>
        <% end foreach %>
    <% end template %>




<% end view %>
<% end skin %>
