<% c++ #include "contents/my_profile.h" %>
<% skin %>
<% view my_profile_change_password uses contents::my_profile::ChangePassword extends master %>

/**
 * @brief Page's title
 */
<% template title() %>
    <% gt "Change your password" %>
<% end template %>


/**
 * @brief Load the CSS specific to this page
 */
<% template css() %>
<link
    rel="stylesheet"
    type="text/css"
    href="http://css.tatoeba.org/css/user/edit_profile.css?1"
/>

<% end template %>



/**
 * @brief All the content that will be displayed in the main div
 *        of the page
 */
<% template main_content() %>
<div id="changepassword" class="module" >

    <h2><% gt "Personnal picture" %></h2>
    <form
        id="MyProfileChangePassword"
        method="post"
        action="<% url "/my-profile/change-password_treat" %>"
    >
            <% form as_p form%>

    </form>
</div>
<% end template %>


/**
 * @brief Display all the annexe modules
 *
 */
<% template annexe_content() %>
    <div class="module">
        <p>
        </p>
    </div>
<% end template %>

<% end view %>
<% end skin %>

