<%c++ #include "contents/users.h" %>
<%c++ #include "generics/Languages.h" %>
<% skin %>
<% view my_profile_show uses contents::users::Profile extends master %>

/**
 * @brief Page's title
 */
<% template title() %>
    <% gt "My page" %>
<% end template %>


/**
 * @brief Load the CSS specific to this page
 */
<% template css() %>
<link
    rel="stylesheet"
    type="text/css"
    href="http://css.tatoeba.org/css/user/profile.css?1"
/>

<% end template %>

/**
 * @brief All the content that will be displayed in the main div
 *        of the page
 */
<% template main_content() %>
    <% include profile_summary_module() %>
    <% include spoken_language_module() %>
    <% include description_module() %>
<% end %>

/**
 * @brief All the information of the current user are briefly presented
 *        here
 * @todo  Add the missing information
 */
<% template profile_summary_module() %>

    <div class="module profileSummary">    
        <div class="editOption">
            <a href="<% url "/users/edit_profile" %>">
                <% gt "Edit"%>
            </a>
        </div>

        <img
            src="http://imgtato.sysko.fr/avatars/128/<% user.image %>.png"
            alt="sysko"
        />

        <div class="info">
            <div class="username"><% user.username %></div>

            <div>
                <!-- TODO add status -->
                <span class="field"><% gt "Name" %></span>
                <span class="value"><% user.username %></span>
            </div>

            <div>
                <!-- TODO add status and country 
                <span class="field"><% gt "Country" %></span>
                <
                <span class="value">< user.country ></span>
                -->
            </div>

            <!-- TODO add birthday -->

            <div>
                <!-- TODO add status -->
                <span class="field"><% gt "Homepage" %></span>
                <span class="value">
                    <a href="<% user.homepage %>">
                        <% user.homepage %>
                    </a>
                </span>
                <span class="edit">
                    <a href="<% url "/my-profile/edit-homepage" %>">
                        <% gt "Edit "%>
                    </a>
                </span>

            </div>
            <div>
                <!-- TODO add status -->
                <span class="field"><% gt "Member since" %></span>
                <span class="value"><% gt "{1,date=f}" using user.since %></span>
            </div>
            <div>
                <!-- TODO add status -->
                <span class="field"><% gt "Depth of translations:" %></span>
                <span class="value">
                    <% user.depth %>
                </span>
                <span class="edit">
                    <a href="<% url "/my-profile/change-depth" %>">
                        <% gt "Edit "%>
                    </a>
                </span>

            </div>
            <div>
                <span class="edit">
                    <a href="<% url "/my-profile/change-avatar" %>">
                        <% gt "Change personnal picture "%>
                    </a>
                </span>

            </div>
            <div>
                <span class="edit">
                    <a href="<% url "/my-profile/change-password" %>">
                        <% gt "Change your password"%>
                    </a>
                </span>

            </div>

        </div>

        <!-- TODO add status -->
        <div class="status" >
            <% gt "admin" %> 
        </div>
    </div> 

<% end template %>

/**
 * @brief the user description is presented in that module
 */
<% template description_module() %>

    <div class="module profileDescription">
        <div class="editOption">
            <a href="<% url "/my-profile/edit-description"%>">
                <%gt "Edit" %>
            </a>
        </div>

        <div class="content">
            <!--TODO  maybe markdown it -->
            <!-- the PRE is to avoid to code a new line to <br/> function -->
            <pre><% user.description%></pre>
        </div>
    </div>

<% end template %>

<% template spoken_language_module() %>
    <div class="module profileSummary">
        <h2><% gt "Languages you speak/study:"%></h2>
        <div class="editOption">
            <a href="<% url "/my-profile/add-spoken-lang" %>">
                <% gt "Add"%>
            </a>
        </div>
        
        <% foreach spokenLang in user.spokenLangs %>
        <table id="spokenlangs">
            <tr> 
                <th><% gt "Language:"%></th>
                <th><% gt "Level:"%></th>
                <th><% gt "Are you a native ?:"%></th>
                <th><% gt "Edit" %></th>
                <th><% gt "Delete"%></th>
            </tr>

            <% item %>
            <tr>
                <td>
                    <!--TODO find a nice way to replace it by the human name -->
                    <% c++ out() << Languages::get_instance()->get_name_from_iso(spokenLang.langISO); %>
                </td>
                <td> 
                    <% include proeficiency(spokenLang.proeficiency) %>

                </td>
                <td>
                    <% if spokenLang.isNative%>
                        <% gt "Yes"%>
                    <% else %>
                        <% gt "No" %>
                    <% end %>

                </td>
                <td>
                    <a href="<% url "/my-profile/edit-spoken-lang/{1}" using spokenLang.langISO %>">
                        <% gt "Edit" %>
                    </a>
                </td>
                <td>
                     <a href="<% url "/my-profile/remove-spoken-lang/{1}" using spokenLang.langISO %>">
                        <% gt "Delete" %>
                    </a>
                </td>              
            </tr>
            <% end %>
        </table>
        <% end foreach %>

    </div>

<% end template %>

/**
 * @brief display the "Human" reable name of the level
 *
 * @param level The level of the user in that language
 */
<% template proeficiency(int level)%>

    <% if (level == 0)  %>
        <span class="proeficiencylevel">C2</span>
    <% elif (level == 1)%>
        <span class="proeficiencylevel">C1</span>
    <% elif (level == 2)%>
        <span class="proeficiencylevel">B2</span>
    <% elif (level == 3)%>
        <span class="proeficiencylevel">B1</span>
    <% elif (level == 4)%>
        <span class="proeficiencylevel">A2</span>
    <% elif (level == 5)%>
        <span class="proeficiencylevel">A1</span>
    <%end%>
<% end template %>

/**
 * @brief Display all the annexe modules
 *
 */
<% template annexe_content() %>
    <% include user_menu_module() %>
    <% include stats() %>
    <% include settings_module() %>

<% end template %>

/**
 * @brief display the sub menu to access to the different data
 *        related to a user (sentences he has added etc.)
 */
<% template user_menu_module() %>
<div class="module">
    <h2>sysko</h2>
    
    <ul class="annexeMenu">
        <li class="item">
            <a href="<% url "/users/profile/{1}" using user.username %>">
                <% gt "Profile" %>
            </a>
        </li>
    
        <li class="item">
            <a href="<% url "/sentences/of_user/{1}" using user.username %>">
                <% gt "Sentences" %>
            </a>
        </li>

        <li class="item">
            <a href="<% url "/favorites/of_user/{1}" using user.username %>">
                <% gt "Favorites" %>
            </a>
        </li>
    
        <li class="item">
            <a href="<% url "/comments/of_user/{1}" using user.username %>">
                <% gt "Comments" %>
            </a>
        </li>
    
        <li class="item">
            <a href="<% url "/comments/on_sentences_of_user/{1}" using user.username %>">
                <%  gt "Comments on my sentences" %>
            </a>
        </li>

        <li class="item">
            <a href="<% url "/wall/messages_of_user/{1}" using user.username %>">
                <% gt "Wall messages" %>
            </a>
        </li>
    
        <li class="item">

            <a href="<% url "/contributions/of_user/{1}" using user.username %>">
                <% gt "Logs" %>
            </a>
        </li>
    </ul>
    
    </div>
<% end template %>

/**
 * @brief display some information about the settings chosen by the user
 *        (if he has activated email notification, profile public or
 *        private etc.)
 * @todo  add if and else 
 */
<% template settings_module() %>
    <div class="module">
        <h2><% gt "Settings" %></h2>
        <ul class="annexeMenu">
            <li class="item">
                <!-- TODO add if /else -->
                <% gt "Email notifications are ENABLED." %>
            </li>
            <li class="item">
                <!-- TODO add if /else -->
                <% gt "Access to this profile is PUBLIC. All the information can be seen by everyone." %>
            </li>
        </ul>

        <div class="editOption">
            <a href="<% url "user/settings" %> ">
                <% gt "Edit" %>
            </a>
        </div>
    </div>
<% end template %>

/**
 * @brief Display some figures about what the user has done
 */
<% template stats() %>
    <div class="module">
        <h2><% gt "Stats" %></h2>
        <dl>
            <dt><% gt "Comments posted" %></dt>
            <dd><!-- TODO add this --></dd>

            <dt><% gt "Sentences owned" %></dt>
            <dd><!-- TODO add this --></dd>

            <dt><% gt "Sentences favorited" %></dt>
            <dd><!-- TODO add this --></dd>

            <dt><% gt "Contributions" %></dt>
            <dd><!-- TODO add this --></dd>
        </dl>
        
        <div>
            <a href="<% url "users/last_activity_of/" using user.username %>">
                <% gt "Show latest activity" %>
            </a>
        </div>
    </div>
<% end template %>

<% end view %>
<% end skin %>
