<%c++ #include "contents/tags.h" %>
<% skin %>
<% view tags_sentences_with_tag_in uses contents::tags::SentencesWithTagIn extends master %>
<% template title() %>
    <% gt "Sentences in {1} tagged '{2}'" using inLanguage, tag.name  %>
<% end template %>

<% template main_content() %>
    <div class="module">
        <h2><% gt "Sentences in {1} tagged '{2}'" using inLanguage, tag.name %></h2>
        <% if not shc.empty() %>
            <% c++ sentences_helper sh(out(), content.shc); %>
            <% c++ sh.sentences_list(""); %> 
        <% else %>
            <% gt "No sentence with this tag in this language" %>
        <% end %>
    </div>
<% end %>

<% template annexe_content() %>

    <div class="module">
        <h2><% gt "Filter sentences" %></h2>
        <form
            action="<% url "/tags/sentences-with-tag-in_treat/{1}" using tag.standardName %>"
            method="POST"
            id="SentencesWithTagInFilterLangForm"
        >
            <% form as_p filterLang %>

        </form>

    </div>

    <div class="module">
        <h2><% gt "Tag's Description " %></h2>
        
        <p>
            <%= tag.description %>
        </p>
    </div>

<% end %>


<% end view %>
<% end skin %>
