<% c++ #include "contents/tags.h" %>
<% skin %>
<% view tags_view_all uses contents::tags::ViewAll extends master %>

/**
 * @brief Page's title
 */
<% template title() %>
    <% gt "Change your password" %>
<% end template %>

/**
 * @brief All the content that will be displayed in the main div
 *        of the page
 */
<% template main_content() %>

<% end template %>

<% end view %>

<% end skin %>
