<% skin %>
<% view contribute uses contents::Homepage extends master %>
<% template title() %>
    <% gt "Tatoeba - contribute"  %>
<% end template %>

<% template main_content() %> 
    <div class="module">
        <h1>Contribute</h1>
    </div>
<% end template %>


<% end view %>
<% end skin %>

