<% skin %>
<% view homepage uses contents::Homepage extends master %>
<% template title() %><% gt "Tatoeba homepage"  %><% end template %>

<% template annexe_content() %>
    <% c++ homepage_modules hm(out(), content); %>
    <% c++ hm.join_us() ;%>
<% end template %>



<% template main_content() %> 
    <div class="module">
        <h1>*<% text %>*</h1>
        You're on homepage<br />
    </div>
<% end template %>


<% end view %>
<% end skin %>
