<%c++ #include "contents/sentences.h" %>
<% skin %>
<% view sentences_edit_text uses contents::SentencesEditText extends master %>
<% template title() %><% gt "Edit sentence"  %><% end template %>

<% template main_content() %>
    <div class="module">
    <% if not shc.empty() %>
        <h3><% gt "Edit this sentence" %></h3>

        <form method="POST" action="<% url "/sentences/edit-text_treat" %>" >
            <% form as_p editText %>
        </form>
        <% c++ sentences_helper sh(out(), content.shc); %>
        <% c++ sh.all_translations(content.shc.sentences[0].get_translations(), content.id) ;%>
    <% else %>
        This sentence does not exist
    <% end %>
    </div>
<% end %>


<% end view %>
<% end skin %>

