<%c++ #include "contents/sentences.h" %>
<% skin %>
<% view sentences_show uses contents::SentencesShow extends master %>
<% template title() %><% gt "Sentence show"  %><% end template %>

<% template main_content() %>
    <% c++ navigation(content.id - 1, content.id + 1); %>
        <div class="module">
        <% if not shc.empty() %>
            <h2>Sentence nº <% shc.sentences.front().getId() %></h2>
            <% c++ sentences_helper sh(out(), content.shc); %>
            <% c++ sh.sentences_group(content.shc.sentences[0]) ;%>
        <% else %>
            This sentence does not exist
        <% end %>
        </div>
<% end template %>


<% template navigation(int prev, int next) %>
    <div class="module">
    <div class="navigation">
    <ul>
        <li id="prevSentence" class="active">
            <a href="<% url "/sentences/show/{1}" using prev %>">
                « previous
            </a>
        </li>
 
        <li id="nextSentence" class="active">
            <a href="<% url "/sentences/show/{1}" using next %>">
                next »
            </a>
        </li>
    
        <li id="randomLink" class="active">
            <a href="<% url "/sentences/show-random"%>" >
                random
            </a>
        </li>        
    </ul>
    </div>
    </div>

<% end template %>

<% end view %>
<% end skin %>
