<%c++ #include "contents/sentences.h" %>
<% skin %>
<% view sentences_show uses contents::SentencesShow extends master %>
<% template title() %><% gt "Sentence show"  %><% end template %>

<% template main_content() %>
    <% c++ navigation(content.id - 1, content.id + 1); %>
        <div class="module">
        <% if not shc.empty() %>
            <h2>Sentence nº <% shc.sentences.front().get_id() %></h2>
            <% c++ sentences_helper sh(out(), content.shc); %>
            <% c++ sh.sentences_group(content.shc.sentences[0]) ;%>
            <a href="<% url "/sentences/show/{1}?depth={2}" using id, oneMoreDepth %>">
                <% gt "view one more depth of translation" %>
            </a>
            <br/>
            <!--TODO make something to be able to use both "all languages" and "custom depth" -->
            <!-- maybe only do this javascript -->
            <a href="<% url "/sentences/show/{1}?no_langs_filter=1" using id%>">
                <% gt "view all translations (even languages you don't study)" %>
            </a>
        <% else %>
            This sentence does not exist
        <% end %>
        </div>
<% end template %>


<% template navigation(int prev, int next) %>
    <div class="module">
    <div class="navigation">
    <ul>
        <li id="prevSentence" class="active">
            <a href="<% url "/sentences/show/{1}" using prev %>">
                « previous
            </a>
        </li>
 
        <li id="nextSentence" class="active">
            <a href="<% url "/sentences/show/{1}" using next %>">
                next »
            </a>
        </li>
    
        <li id="randomLink" class="active">
            <a href="<% url "/sentences/show-random"%>" >
                random
            </a>
        </li>        
    </ul>
    </div>
    </div>

<% end template %>


<% template annexe_content() %>
<div class="module">

    <h2><% gt "Tags" %></h2>

    <div class="tagsListOnSentence" >


    </div>


    <form
        id="TagAdd"
        method="post"
        action="<% url "/tags/add_treat" %>"
    >
            <% form as_p addTag %>

    </form>

    <a href="/tags/view-all">
        <% gt "View all tags" %>
    </a>
</div>

<% end template %>


<% end view %>
<% end skin %>
